<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actividades - Polideportivo QuickFit</title>
  <link rel="icon" href="../assets/img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/inicio.html">
            <img src="../assets/img/logo.png" alt="Logotipo Polideportivo QuickFit" aria-label="Ir a Página Principal" width="50" height="50" class="d-inline-block align-text-center">
            Polideportivo QuickFit
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../views/inicio.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/actividades.html">Actividades</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instalaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="../views/canchas.html">Canchas</a></li>
                  <li><a class="dropdown-item" href="../views/gimnasio.html">Gimnasio</a></li>
                  <li><a class="dropdown-item" href="../views/piscinas.html">Piscinas</a></li>
                  <li><a class="dropdown-item" href="../views/pistas.html">Pistas interiores</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/horarios.html">Horarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/eventos&noticias.html">Eventos y Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Entrada de búsqueda">
              <button class="btn btn-danger" id="search-button" aria-label="Realizar búsqueda" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>    
  </header>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom mt-3">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="../views/inicio.html" style="font-weight: bold;">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="disabled-link" href="../views/actividades.html" style="font-weight: bold;">Actividades</a></li>
    </ol>
  </nav>

  <main class="container">
    <section class="text-center my-5">
      <h1 class="display-4 mb-5 focuseable"><strong>Nuestras actividades</strong></h1>
      <div class="container card-group">
        <div class="mb-5 card-group">
          <div class="col">
            <div class="card">
              <img src="../assets/img/aikido.jpg" class="card-img-top" alt="Imagen clases de Aikido">
              <div class="card-body">
                <h5 class="card-title">Aikido</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/badminton.jpg" class="card-img-top" alt="Imagen clases de Bádminton">
              <div class="card-body">
                <h5 class="card-title">Bádminton</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/baloncesto.jpg" class="card-img-top" alt="Imagen clases de Baloncesto">
              <div class="card-body">
                <h5 class="card-title">Baloncesto</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/estiramientos.jpg" class="card-img-top" alt="Imagen clases de Estiramientos">
              <div class="card-body">
                <h5 class="card-title">Estiramientos</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/futsala.jpg" class="card-img-top" alt="Imagen clases de Fútbol Sala">
              <div class="card-body">
                <h5 class="card-title">Fútbol Sala</h5>
              </div>
            </div>
          </div>
        <div class="mt-5 card-group">
          <div class="col">
            <div class="card">
              <img src="../assets/img/HIIT.jpg" class="card-img-top" alt="Imagen clases de HIIT">
              <div class="card-body">
                <h5 class="card-title">HIIT</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/natacion.png" class="card-img-top h-75" alt="Imagen clases de Natación">
              <div class="card-body">
                <h5 class="card-title">Natación</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/tenis.jpg" class="card-img-top" alt="Imagen clases de Tenis">
              <div class="card-body">
                <h5 class="card-title">Tenis</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/voleibol.jpg" class="card-img-top" alt="Imagen clases de Voleibol">
              <div class="card-body">
                <h5 class="card-title">Voleibol</h5>
              </div>
            </div>
          </div>
          <div class="col ms-3">
            <div class="card">
              <img src="../assets/img/waterpolo.jpg" class="card-img-top" alt="Imagen clases de Waterpolo">
              <div class="card-body">
                <h5 class="card-title">Waterpolo</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    
    <section class="text-center">
      <h2 class="display-4 focuseable">Próximos Eventos</h2>
      <p class="lead mb-4 focuseable">No te pierdas nuestros emocionantes eventos y competiciones deportivas.</p>
      <a href="../views/eventos&noticias.html" id="ExplorarEventos" class="btn btn-primary btn-lg mb-3">Explorar eventos</a>
    </section>

    <div class="subirArribaContainer">
      <button class="btn btn-secondary btn-lg" id="subirArriba" onclick="scrollToTop()" aria-label="Navegar hacia arriba">Subir Arriba</button>
      <button type="button" class="btn btn-close" id="cerrarSubirArriba" onclick="closeButton()" aria-label="Cerrar navegación hacia arriba"></button>
    </div>
  </main>

  <footer class="bg-dark text-white text-center py-4">
    <p class="focuseable" id="copyright">&copy; 2023 Polideportivo QuickFit. Todos los derechos reservados.</p>
    <div class="col">
      <a class="btn btn-primary text-center mt-3" id="footer-link-accesibilidad" href="../views/accesibilidad.html">Accesibilidad</a>
      <a class="btn btn-primary text-center ms-3 mt-3" id="footer-link-mapaweb" href="../views/mapaweb.html">Mapa web</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/focuseable.js"></script>
  <script src="../js/scrollUp.js"></script>
</body>
</html>