<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canchas - Polideportivo QuickFit</title>
  <link rel="icon" href="../assets/img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/inicio.html">
            <img src="../assets/img/logo.png" alt="Logotipo Polideportivo QuickFit" aria-label="Ir a Página Principal" width="50" height="50" class="d-inline-block align-text-center">
            Polideportivo QuickFit
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../views/inicio.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/actividades.html">Actividades</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instalaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item active" aria-current="page" href="../views/canchas.html">Canchas</a></li>
                  <li><a class="dropdown-item" href="../views/gimnasio.html">Gimnasio</a></li>
                  <li><a class="dropdown-item" href="../views/piscinas.html">Piscinas</a></li>
                  <li><a class="dropdown-item" href="../views/pistas.html">Pistas interiores</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/horarios.html">Horarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/eventos&noticias.html">Eventos y Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Entrada de búsqueda">
              <button class="btn btn-danger" id="search-button" aria-label="Realizar búsqueda" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>    
  </header>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom mt-3">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="../views/inicio.html" style="font-weight: bold;">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="disabled-link" style="font-weight: bold;">Instalaciones</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="disabled-link" style="font-weight: bold;">Canchas</a></li>
    </ol>
  </nav>

  <main class="container">
    <section class="text-center my-5">
      <h1 class="display-4 mb-5 focuseable"><strong>Canchas</strong></h1>
    </section>
    
    <!-- Texto de información cancha de fútbol exterior -->
    <p class="h2 mb-4 mt-5 focuseable">Cancha exterior de fútbol</p>
    <div class="card bg-light mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../assets/img/canchafutbol.jpg" class="img-fluid rounded-start" alt="Imagen de nuestra Cancha exterior de fútbol">
        </div>
        <div class="col-md-8 mb-5">
          <div class="card-body">
            <h5 class="card-title">Cancha exterior de fútbol</h5>
            <p class="card-text">Ya sea que estés organizando un partido entre amigos, participando en una liga local o simplemente buscando 
              divertirte jugando al fútbol, nuestra cancha exterior de fútbol 5 proporciona un entorno adecuado y seguro para disfrutar al máximo de 
              este deporte popular. ¡Ven y únete a la emoción del fútbol en nuestra cancha de primer nivel!</p>
          </div>
        </div>
      </div>
    </div>

    <p class="h3 mb-5 mt-5 focuseable">Descripción de las canchas</p>
    
    <dl class="row mb-5 dl-row">
      <dt class="col-sm-3 focuseable">Tamaño</dt>
      <dd class="col-sm-9 focuseable">La cancha tiene dimensiones adecuadas para un juego de fútbol 5, con unas medidas de aproximadamente 40 metros de largo 
      y 20 metros de ancho.</dd>
      <dt class="col-sm-3 focuseable">Iluminación</dt>
      <dd class="col-sm-9 focuseable"><p>La cancha cuenta con 4 focos de luz que serán encendidos todos los días a partir de las 19:30 en horario de verano.</p>
      </dd>
      <dt class="col-sm-3 focuseable">Gradas y alrededores</dt>
      <dd class="col-sm-9 focuseable">Alrededor de la cancha hay una valla de metal de 2 metros de altura para aislar el terreno de juego.
        <p>Existe una única grada lateral con capacidad para 200 personas.</p>
      </dd>
      <dt class="col-sm-3 focuseable">Banquillos</dt>
      <dd class="col-sm-9 mb-5 focuseable"> Junto a la cancha, disponemos de bancos para los jugadores, donde pueden descansar y prepararse durante los partidos.</dd>
    </dl>

    <!-- Texto de información canchas de baloncesto exterior -->
    <p class="h2 mb-5 mt-5 focuseable">Canchas exteriores de baloncesto</p>
    <div class="card bg-light mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../assets/img/canchabaloncesto.jpg" class="img-fluid rounded-start" alt="Imagen de nuestras Canchas exteriores de baloncesto">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Canchas exteriores de baloncesto</h5>
            <p class="card-text">Nuestra canchas exteriores de baloncesto están diseñadas para brindar a los jugadores de todos los niveles una 
              experiencia de juego emocionante y de calidad. Ya sea que estés buscando jugar un partido competitivo, practicar tus habilidades o 
              simplemente disfrutar de este deporte con amigos, nuestras canchas exteriores proporcionan el escenario perfecto para disfrutar del 
              baloncesto al aire libre. ¡Ven y únete a la acción en nuestras canchas de baloncesto de primer nivel!</p>
          </div>
        </div>
      </div>
    </div>

    <p class="h3 mb-5 mt-5 focuseable">Descripción de las canchas</p>
    
    <dl class="row">
      <dt class="col-sm-3 focuseable">Dimensiones y Marcas</dt>
      <dd class="col-sm-9 focuseable">La cancha cumple con las dimensiones y las marcas reglamentarias para el baloncesto. Tiene un tamaño de aproximadamente 28 
        metros de largo y 15 metros de ancho. Las líneas de juego, incluyendo la línea de tres puntos, la línea de tiros libres y las líneas de saque,
        están claramente marcadas.</dd>
      <dt class="col-sm-3 focuseable">Iluminación</dt>
      <dd class="col-sm-9 focuseable"><p>Contamos con un sistema de iluminación adecuado que permite jugar en horarios nocturnos. La cancha cuenta con 4 focos de
        luz cada una que serán encendidos todos los días a partir de las 19:30 en horario de verano.</p>
      </dd>
      <dt class="col-sm-3 focuseable">Gradas y alrededores</dt>
      <dd class="col-sm-9 focuseable"><p>No hay vallas exteriores para limitar el terreno de juego y poder aislarlo, pero estamos trabajando en ello para poner en 
        marcha un proyecto de vallado. Además estas canchas de baloncesto tampoco tienen graderío.</p>

      <dt class="col-sm-3 focuseable">Tableros y superficie</dt>
      <dd class="col-sm-9 focuseable"><p>Los tableros y aros están fabricados con materiales duraderos y resistentes a la intemperie. Los aros tienen el tamaño 
        y la altura reglamentaria,</p>
        <p>La cancha cuenta con una superficie de pavimento de alta calidad de color azul. Esta superficie proporciona una base sólida y uniforme para 
          jugar</p>
      </dd>
    </dl>
    
    <!-- Ubicación -->
    <div class="card bg-light mt-5 mb-5">
        <div class="container">
          <h2 class="mb-5 focuseable">Ubicación de las canchas</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive embed-responsive-16by9">
                <!-- URL de Google Maps Embed API -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6249.237877236263!2d-16.32359104547563!3d28.47154124846681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41cda217457613%3A0xa3e2be1d5222cb97!2sCiudad%20Deportiva%20Javier%20Perez!5e0!3m2!1ses!2ses!4v1687264664654!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="mb-2 focuseable">Complejo deportivo QuickFit</h4>
              <p class="focuseable">Cam. la Feria, 9B, 38296 La Laguna, Santa Cruz de Tenerife</p>
              <p class="mb-5 focuseable">Las canchas se encuentran ubicadas junto al pabellón deportivo y la piscina, se trata de un complejo deportivo</p>
              <a class="btn btn-primary text-center ms-3 link focuseable" id="EnlaceGoogleMaps" aria-label="Ir a dirección en google maps" href="https://goo.gl/maps/ygV3Q239e1Fjeyh36">Enlace a dirección en Google Maps</a>
            </div>
          </div>
        </div>
      </div>
    
    <div class="subirArribaContainer">
      <button class="btn btn-secondary btn-lg" id="subirArriba" onclick="scrollToTop()" aria-label="Navegar hacia arriba">Subir Arriba</button>
      <button type="button" class="btn btn-close" id="cerrarSubirArriba" onclick="closeButton()" aria-label="Cerrar navegación hacia arriba"></button>
    </div>
  </main>

  <footer class="bg-dark text-white text-center py-4">
    <p class="focuseable" id="copyright">&copy; 2023 Polideportivo QuickFit. Todos los derechos reservados.</p>
    <div class="col">
      <a class="btn btn-primary text-center mt-3" id="footer-link-accesibilidad" href="../views/accesibilidad.html">Accesibilidad</a>
      <a class="btn btn-primary text-center ms-3 mt-3" id="footer-link-mapaweb" href="../views/mapaweb.html">Mapa web</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/focuseable.js"></script>
  <script src="../js/scrollUp.js"></script>
</body>
</html>
