<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - Polideportivo QuickFit</title>
  <link rel="icon" href="../assets/img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/inicio.html">
            <img src="../assets/img/logo.png" alt="Logotipo Polideportivo QuickFit" aria-label="Ir a Página Principal" width="50" height="50" class="d-inline-block align-text-center">
            Polideportivo QuickFit
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../views/inicio.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/actividades.html">Actividades</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instalaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="../views/canchas.html">Canchas</a></li>
                  <li><a class="dropdown-item" href="../views/gimnasio.html">Gimnasio</a></li>
                  <li><a class="dropdown-item" href="../views/piscinas.html">Piscinas</a></li>
                  <li><a class="dropdown-item" href="../views/pistas.html">Pistas interiores</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/horarios.html">Horarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/eventos&noticias.html">Eventos y Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/contacto.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Entrada de búsqueda">
              <button class="btn btn-danger" id="search-button" aria-label="Realizar búsqueda" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>    
  </header>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom mt-3">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="../views/inicio.html" style="font-weight: bold;">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="disabled-link" href="../views/contacto.html" style="font-weight: bold;">Contacto</a></li>
    </ol>
  </nav>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center mb-5">Contacta con nosotros</h3>
              <form>
                <div class="mb-3 mt-3">
                  <label for="nombre" class="form-label"><span class="required">* </span><strong>Nombre</strong></label><span class="required"> (requerido)</span>
                  <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label"><span class="required">* </span><strong>Email</strong></label><span class="required"> (requerido)</span>
                  <input type="email" class="form-control" id="email" placeholder="tucorreo@ejemplo.com" required>
                </div>
                <div class="mb-3">
                  <label for="mensaje" class="form-label"><span class="required">* </span><strong>Mensaje</strong></label><span class="required"> (requerido)</span>
                  <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje" required></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" aria-label="Enviar formulario de contacto">Enviar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
        <div class="col-md-4 mx-auto mt-4 mt-md-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Información de contacto</h5>
              <p class="card-text">
                <strong>Dirección:</strong> Calle Principal 123, Ciudad, País<br>
                <strong>Teléfono:</strong> +123 456 789<br>
                <strong>Email:</strong> info@quickfit.com
              </p> 
            </div>
          </div>

          <div class="card ms-5 me-5 mt-5 w-30">
            <div class="card-body">
            <h5 class="card-title text-center">Síguenos en redes sociales</h5>
              <div class="social-icons mt-3">
                <a class="social-icons-link" href="#" aria-label="Facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
               <a class="social-icons-link" href="#" aria-label="Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
                <a class="social-icons-link" href="#" aria-label="Instagram">
                  <i class="fab fa-instagram"></i>
                </a>
              </div> 
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-dark text-white text-center py-4">
    <p class="focuseable" id="copyright">&copy; 2023 Polideportivo QuickFit. Todos los derechos reservados.</p>
    <div class="col">
      <a class="btn btn-primary text-center mt-3" id="footer-link-accesibilidad" href="../views/accesibilidad.html">Accesibilidad</a>
      <a class="btn btn-primary text-center ms-3 mt-3" id="footer-link-mapaweb" href="../views/mapaweb.html">Mapa web</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/focuseable.js"></script>
  <script src="../js/scrollUp.js"></script>
</body>
</html>