<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horarios - Polideportivo QuickFit</title>
  <link rel="icon" href="../assets/img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/inicio.html">
            <img src="../assets/img/logo.png" alt="Logotipo Polideportivo QuickFit" aria-label="Ir a Página Principal" width="50" height="50" class="d-inline-block align-text-center">
            Polideportivo QuickFit
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../views/inicio.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/actividades.html">Actividades</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instalaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="../views/canchas.html">Canchas</a></li>
                  <li><a class="dropdown-item" href="../views/gimnasio.html">Gimnasio</a></li>
                  <li><a class="dropdown-item" href="../views/piscinas.html">Piscinas</a></li>
                  <li><a class="dropdown-item" href="../views/pistas.html">Pistas interiores</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="../views/horarios.html">Horarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/eventos&noticias.html">Eventos y Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Entrada de búsqueda">
              <button class="btn btn-danger" id="search-button" aria-label="Realizar búsqueda" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>    
  </header>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom mt-3">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="../views/inicio.html" style="font-weight: bold;">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="disabled-link" href="../views/horarios.html" style="font-weight: bold;">Horarios</a></li>
    </ol>
  </nav>

  <main class="container">
    <h1 class="text-center apartado mt-4 mb-5 focuseable">Consulta nuestros horarios</h1>
    <section>
      <div class="table-responsive">
        <h2 class="text-center seccion mt-5 mb-4 focuseable">Instalaciones</h2>
        <table class="table table-hover">
          <thead>
            <tr class="text-center cabecera">
                <th class="focuseable">Nombre</th>
                <th class="focuseable">Días</th>
                <th class="focuseable">Horas</th>
                <th class="focuseable">Precios</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
                <td class="focuseable">Canchas</td>
                <td class="focuseable">Lunes - Sábado</td>
                <td class="focuseable">8:00 - 22:00</td>
                <td class="focuseable">5€ / hora</td>
            </tr>
            <tr class="text-center align-middle">
                <td class="focuseable">Gimnasio</td>
                <td class="focuseable">Lunes - Sábado</td>
                <td class="focuseable">6:00 - 22:00</td>
                <td class="focuseable">22€ / mes<br>220€ / año</td>
            </tr>
            <tr class="text-center align-middle">
                <td class="focuseable">Piscinas</td>
                <td class="focuseable">Lunes - Sábado</td>
                <td class="focuseable">6:00 - 22:00</td>
                <td class="focuseable">16€ / mes<br>160€ / año</td>
            </tr>
            <tr class="text-center">
                <td class="focuseable">Pistas interiores</td>
                <td class="focuseable">Lunes - Sábado</td>
                <td class="focuseable">9:00 - 22:00</td>
                <td class="focuseable">10€ / hora</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <div class="table-responsive mt-5">
        <h2 class="text-center seccion mt-5 mb-4 focuseable">Actividades</h2>
        <table class="table table-hover">
          <thead>
            <tr class="text-center cabecera">
                <th class="focuseable">Nombre</th>
                <th class="focuseable">Días</th>
                <th class="focuseable">Horas</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
                <td class="focuseable">Aerobic</td>
                <td class="focuseable">Lunes, Miércoles, Viernes</td>
                <td class="focuseable">9:00 - 10:00</td>
            </tr>
            <tr class="text-center align-middle">
                <td class="focuseable">Natación</td>
                <td class="focuseable">Martes, Jueves</td>
                <td class="focuseable">9:00 - 10:00<br>17:00 - 18:00</td>
            </tr>
            <tr class="text-center align-middle">
                <td class="focuseable">Voleibol</td>
                <td class="focuseable">Lunes, Martes, Miércoles, Jueves, Viernes</td>
                <td class="focuseable">11:00 - 12:00<br>16:00 - 17:00</td>
            </tr>
            <tr class="text-center">
                <td class="focuseable">HIT</td>
                <td class="focuseable">Lunes, Miércoles, Viernes</td>
                <td class="focuseable">17:00 - 18:00</td>
            </tr>
            <tr class="text-center align-middle">
                <td class="focuseable">Baloncesto</td>
                <td class="focuseable">Lunes, Martes, Miércoles, Jueves, Viernes</td>
                <td class="focuseable">12:00 - 13:00<br>18:00 - 19:00</td>
            </tr>
            <tr class="text-center">
                <td class="focuseable">Tenis</td>
                <td class="focuseable">Martes, Jueves</td>
                <td class="focuseable">12:00 - 13:00</td>
            </tr>
          </tbody>
        </table>
        <p class="ms-3 mt-4 focuseable">*El acceso a las clases está reservado a las personas con el abono mensual del gimnasio</p>
      </div>
    </section>

    <div class="subirArribaContainer">
      <button class="btn btn-secondary btn-lg" id="subirArriba" onclick="scrollToTop()" aria-label="Navegar hacia arriba">Subir Arriba</button>
      <button type="button" class="btn btn-close" id="cerrarSubirArriba" onclick="closeButton()" aria-label="Cerrar navegación hacia arriba"></button>
    </div>
  </main>

  <footer class="bg-dark text-white text-center py-4">
    <p class="focuseable" id="copyright">&copy; 2023 Polideportivo QuickFit. Todos los derechos reservados.</p>
    <div class="col">
      <a class="btn btn-primary text-center mt-3" id="footer-link-accesibilidad" href="../views/accesibilidad.html">Accesibilidad</a>
      <a class="btn btn-primary text-center ms-3 mt-3" id="footer-link-mapaweb" href="../views/mapaweb.html">Mapa web</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/focuseable.js"></script>
  <script src="../js/scrollUp.js"></script>
</body>
</html>